.container{
    display: flex;
    gap: 20px;
}
.square{
    width: 100px;
    height: 100px;
    cursor : pointer;
}

#square1 {
    background-color: #FF5733;
}

#square2 {
    background-color: #33FF57;
}

#square3 {
    background-color: #3357FF;
}