<div class="container">
    <div>
        <h2 style="text-align: center;"> Contactame!</h2>
        <form class="row g-3 needs-validation" action="/contacto" method="POST">
            <div class="col-md-6">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="nombre" name="nombre" required>
                <div class="valid-feedback">Bien!</div>
            </div>
            <div class="col-md-6">
                <label for="apellido" class="form-label">Apellido</label>
                <input type="text" class="form-control" id="apellido" name="apellido"required>
                <div class="valid-feedback">Bien!</div>
            </div>
            <div class="col-md-6">
                <label for="email" class="form-label">Mail</label>
                <input type="email" class="form-control" id="email" name="email" required>
                <div class="invalid-feedback">Ingrese un mail valido!</div>
            </div>
            <div class="col-md-6">
                <label for="telefono" class="form-label">Numero de telefono</label>
                <input type="text" class="form-control" id="telefono" name="telefono" required>
                <div class="invalid-feedback">Por favor ingrese un numero de celular</div>
            </div>
            <div class="col-12">
                <button class="btn btn-primary" type="submit">Enviar</button>
            </div>
        </form>
        {{message}}
    </div>
</div>